body {background-color: #effffb;}

h1{
    font-family: 'Lucida Sans';
    font-size: 50px;
}

#edit, #edit td, #edit th {
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
    padding: 10px;
}
#edit tr:nth-child(even){background-color: #f2f2f2;}
#edit tr:nth-child(odd){background-color: white}

#edit tr:hover {background-color: #ddd;}

#edit th {background-color: bisque;}

td, th, a {
    padding: 5px;
    font-size: 19px;
}


.td2 {white-space:pre-wrap;}
.table1 {max-width: 650px;}